/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-856 {
    /* centers button */
    text-align: center;
    /* 116px - 164px top */
    /* 60px - 100px  bottom */
    padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-856 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-856 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-856 .cs-picture {
    width: 100%;
    max-width: 35.625rem;
    /* 400px - 712px */
    height: clamp(25rem, 95vw, 44.5rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #hero-856 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    /* ensures the top of the images is at the top of the container, no heads getting cut off */
    object-position: top;
  }
  #hero-856 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 320%;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-856 {
    text-align: left;
  }
  #hero-856 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-856 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #hero-856 .cs-title,
  #hero-856 .cs-text {
    text-align: left;
  }
  #hero-856 .cs-picture {
    /* 623px - 814px */
    height: clamp(38.9375rem, 60vw, 50.875rem);
  }
  #hero-856 .cs-wave {
    width: 100%;
    left: 0;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-856 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #hero-856 .cs-title,
  body.dark-mode #hero-856 .cs-text,
  body.dark-mode #hero-856 .cs-number,
  body.dark-mode #hero-856 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-856 .cs-wave path {
    fill: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-883 {
    padding: var(--sectionPadding);
    /* clips floating arrow from overflowing */
    overflow: hidden;
  }
  #services-883 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-883 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 25.8125rem;
    /* pushes away to the left side of the container */
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-883 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-883 .cs-item {
    list-style: none;
    text-align: left;
    margin: 0;
    /* 24px - 32px left & right */
    padding: 2rem clamp(1.5rem, 2vw, 2rem);
    border-radius: 1rem;
    background-color: #F7F7F7;
    grid-column: span 4;
  }
  #services-883 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-883 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1.25rem 0;
    color: var(--bodyTextColor);
  }
  #services-883 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }
  #services-883 .cs-link:hover .cs-icon {
    transform: translateX(0.625rem);
  }
  #services-883 .cs-icon {
    width: 1.5rem;
    height: auto;
    transition: transform .3s;
  }
  #services-883 .cs-floater {
    width: 21.9375rem;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: -1.875rem;
    transform: rotate(66deg) scaleX(-1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-883 .cs-container {
    max-width: 80rem;
  }
  #services-883 .cs-card-group {
    /* pushes down the same amount the cs-items are translated from their position */
    margin-bottom: 5rem;
  }
  #services-883 .cs-item {
    grid-column: span 2;
  }
  #services-883 .cs-item:nth-of-type(2),
  #services-883 .cs-item:nth-of-type(4) {
    transform: translateY(5rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-883 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #services-883 .cs-floater {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-883 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-883 .cs-title,
  body.dark-mode #services-883 .cs-text,
  body.dark-mode #services-883 .cs-h3,
  body.dark-mode #services-883 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-883 .cs-floater {
    opacity: .4;
  }
  body.dark-mode #services-883 .cs-text,
  body.dark-mode #services-883 .cs-item-p {
    opacity: .8;
  }
  body.dark-mode #services-883 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-49 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #gallery-49 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-49 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-49 .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    /* 158px - 304px */
    grid-template-rows: 1fr;
    /* 8px - 20px */
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }
  #gallery-49 .cs-item {
    list-style: none;
    width: 100%;
    margin: 0;
    aspect-ratio: 1;
    grid-column: span 6;
    display: block;
    position: relative;
    /* prevents image from overflowing the container on hover */
    overflow: hidden;
    transition: border-radius 0.3s;
  }
  #gallery-49 .cs-item:hover {
    border-radius: 9.375rem 9.375rem 0 0;
  }
  #gallery-49 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #gallery-49 .cs-item:hover .cs-hover-box {
    opacity: 1;
    pointer-events: all;
  }
  #gallery-49 .cs-item:hover .cs-h3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-49 .cs-item:hover .cs-link {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-49 .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-49 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .6s;
  }
  #gallery-49 .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    aspect-ratio: 2.07594937;
  }
  #gallery-49 .cs-item-5 {
    grid-column: 7 / span 6;
    grid-row: 3 / span 2;
    aspect-ratio: initial;
  }
  #gallery-49 .cs-hover-box {
    height: 100%;
    width: 100%;
    padding: 1em 0.625em;
    opacity: 0;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Prevents padding from adding to the height & width */
    box-sizing: border-box;
    transition: opacity .3s;
    /* prevent it from interacting with the mouse so we can add a hover
            effect on the cs-item parent */
    pointer-events: none;
    position: relative;
  }
  #gallery-49 .cs-hover-box:before {
    /* top right box */
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .9;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #gallery-49 .cs-h3 {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 1.8vw, 1.25rem);
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    opacity: 0;
    display: block;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    transition: opacity .3s, transform .5s;
  }
  #gallery-49 .cs-link {
    font-size: 0.9375rem;
    line-height: 2.875rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1rem;
    background-color: #1a1a1a;
    color: #fff;
    opacity: 0;
    border-radius: 1.4375rem;
    overflow: hidden;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.5s, transform 0.5s, background-color 0.3s, color 0.3s;
  }
  #gallery-49 .cs-link:hover {
    background-color: #fff;
    color: #1a1a1a;
    cursor: pointer;
  }
  #gallery-49 .cs-link:hover:before {
    width: 100%;
  }
  #gallery-49 .cs-link:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    width: 0%;
    border-radius: 1.4375rem;
    background: #fff;
    opacity: 1;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #gallery-49 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #gallery-49 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #gallery-49 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-49 .cs-item {
    grid-column: span 3;
  }
  #gallery-49 .cs-item-1 {
    grid-column: 1 / span 6;
  }
  #gallery-49 .cs-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  #gallery-49 .cs-item-3 {
    grid-column: 4 / span 3;
    grid-row: 2;
  }
  #gallery-49 .cs-item-5 {
    grid-column: 7 / span 3;
    grid-row: 2;
  }
  #gallery-49 .cs-item-6 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    aspect-ratio: initial;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-49 .cs-title,
  body.dark-mode #gallery-49 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #gallery-49 .cs-text {
    opacity: .8;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-888 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
  }
  #stats-888 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-888 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #stats-888 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #stats-888 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #stats-888 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-888 .cs-item {
    text-align: center;
    list-style: none;
    /*changes at small desktop then again at large desktop */
    width: 100%;
    /* 44px - 60px */
    padding: clamp(2.75rem, 5vw, 3.75rem) 2rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* clips cs-icon overflowing */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
    position: relative;
  }
  #stats-888 .cs-item:nth-of-type(1) {
    background-color: #FEF7F4;
    border-radius: 0 5rem 0 5rem;
  }
  #stats-888 .cs-item:nth-of-type(2) {
    background-color: #E8E8E8;
    border-radius: 5rem 0 5rem 0;
  }
  #stats-888 .cs-item:nth-of-type(3) {
    background-color: #FBCEBD;
    border-radius: 5rem 0 5rem 0;
  }
  #stats-888 .cs-item:nth-of-type(4) {
    background-color: #F7F7F7;
    border-radius: 0 5rem 0 5rem;
  }
  #stats-888 .cs-number {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 6vw, 3.0625rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 900;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #stats-888 .cs-desc {
    /* 16px -20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-888 .cs-item {
    grid-column: span 1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-888 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #stats-888 .cs-content {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-888 .cs-topper,
  body.dark-mode #stats-888 .cs-color,
  body.dark-mode #stats-888 .cs-number {
    color: var(--primaryLight);
  }
  body.dark-mode #stats-888 .cs-title,
  body.dark-mode #stats-888 .cs-text,
  body.dark-mode #stats-888 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #stats-888 .cs-text,
  body.dark-mode #stats-888 .cs-item-p {
    opacity: .8;
  }
  body.dark-mode #stats-888 .cs-item:nth-of-type(1) {
    background-color: rgba(254, 247, 244, 0.2);
  }
  body.dark-mode #stats-888 .cs-item:nth-of-type(2) {
    background-color: rgba(232, 232, 232, 0.2);
  }
  body.dark-mode #stats-888 .cs-item:nth-of-type(3) {
    background-color: rgba(251, 206, 189, 0.2);
  }
  body.dark-mode #stats-888 .cs-item:nth-of-type(4) {
    background-color: rgba(247, 247, 247, 0.2);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r-868 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #sbs-r-868 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-r-868 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-r-868 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    /* 23 characters wide including spaces */
    max-width: 23ch;
  }
  #sbs-r-868 .cs-image-group {
    width: 100%;
    max-width: 39.375rem;
    /* 400px - 775px */
    height: clamp(25rem, 69vw, 48.4375rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    position: relative;
  }
  #sbs-r-868 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-r-868 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-r-868 .cs-box {
    text-align: center;
    /* 40px - 67px top & bottom */
    /* 20px - 28px left & right */
    padding: clamp(2.5rem, 5vw, 4.1875rem) clamp(1.25rem, 2vw, 1.75rem);
    background-color: #fff;
    /* 48px - 80px */
    border-radius: 0 clamp(3rem, 4vw, 5rem) 0 clamp(3rem, 4vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    /* 16px - 20px */
    right: clamp(1rem, 2vw, 1.25rem);
    /* 16px - 20px */
    bottom: clamp(1rem, 2vw, 1.25rem);
  }
  #sbs-r-868 .cs-number {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
  }
  #sbs-r-868 .cs-desc {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    width: 7.6875rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-r-868 .cs-floater {
    /* 231px - 351px */
    width: clamp(14.375rem, 27vw, 21.9375rem);
    height: auto;
    display: none;
    position: absolute;
    top: 0rem;
    left: 3.125rem;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r-868 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-r-868 .cs-image-group {
    /* 100px - 200px */
    border-radius: clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem) 0;
  }
  #sbs-r-868 .cs-content {
    /* sends it to the left in the 1st position */
    order: -1;
  }
  #sbs-r-868 .cs-box {
    right: auto;
    left: 1.25rem;
    /* 48px - 80px */
    border-radius: clamp(3rem, 4vw, 5rem) 0 clamp(3rem, 4vw, 5rem) 0;
  }
  #sbs-r-868 .cs-floater {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-r-868 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r-868 .cs-title,
  body.dark-mode #sbs-r-868 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r-868 .cs-text {
    opacity: .8;
  }
  body.dark-mode #sbs-r-868 .cs-floater {
    opacity: .5;
  }
}
/*-- -------------------------- -->
<---         Meet Team          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-437 {
    text-align: center;
    padding: var(--sectionPadding);
  }
  #meet-437 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-437 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-437 .cs-card-group {
    width: 100%;
    max-width: 59.6875em;
    padding: 0;
    margin: 0 auto;
    /* 24px - 40px, accounts for the translate amount on the list items */
    margin-bottom: clamp(1.5rem, 3vw, 2.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 8px - 20px */
    column-gap: clamp(0.5rem, 1.5vw, 1.25rem);
    row-gap: 0.75rem;
  }
  #meet-437 .cs-item {
    list-style: none;
    width: 48%;
    padding-bottom: 1.5rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    border: 1px solid #B4B2C7;
    position: relative;
  }
  #meet-437 .cs-item:before {
    /* hover box */
    content: '';
    width: 99%;
    height: 99%;
    border: 4px solid var(--primary);
    border-radius: 0.75rem;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    display: block;
    z-index: 10;
    /* next three lines are old school way of centering something */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s, width .3s, height .3s, opacity .3s;
  }
  #meet-437 .cs-item:hover:before {
    opacity: 1;
  }
  #meet-437 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-437 .cs-picture {
    width: 100%;
    /* height divided by width */
    aspect-ratio: 1.26033058;
    margin-bottom: 1.5rem;
    /* clips corners of image */
    overflow: hidden;
    border-radius: 0.75rem 0.75rem 0 0;
    border-bottom: 1px solid #B4B2C7;
    position: relative;
    display: block;
  }
  #meet-437 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it behave like a background image */
    object-fit: cover;
    /* places the top of the image at the top of the picture element */
    object-position: top;
    transition: transform .6s;
  }
  #meet-437 .cs-name {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #meet-437 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: var(--primary);
    display: block;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-437 .cs-container {
    max-width: 80rem;
  }
  #meet-437 .cs-card-group {
    flex-wrap: nowrap;
  }
  #meet-437 .cs-item {
    width: 100%;
  }
  #meet-437 .cs-item:nth-of-type(2),
  #meet-437 .cs-item:nth-of-type(4) {
    /* 24px - 40px */
    transform: translateY(clamp(1.5rem, 4.2vw, 2.5rem));
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-437 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #meet-437 .cs-title,
  body.dark-mode #meet-437 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-437 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #meet-437 .cs-name,
  body.dark-mode #meet-437 .cs-job {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-864 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #reviews-864:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .03;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #reviews-864 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-864 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 56.25rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-864 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    /* 20 characters including spaces */
    max-width: 20ch;
  }
  #reviews-864 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 100%;
  }
  #reviews-864 .cs-card-group {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-864 .cs-item {
    list-style: none;
    width: 100%;
    /* 20px - 32px */
    padding: clamp(1.25rem, 4vw, 2rem);
    background-color: #fff;
    border-radius: 0 1.5rem 0 1.5rem;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-column: span 12;
    position: relative;
  }
  #reviews-864 .cs-flex-group {
    width: 100%;
    margin: 0 0 1.25rem 0;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #FBCEBD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
  #reviews-864 .cs-profile {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-864 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-864 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-864 .cs-job {
    font-size: 0.875rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-864 .cs-review {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.25rem;
    max-width: 27.75rem;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-stars {
    width: 6.75rem;
    height: auto;
    margin: 0 0 0.5rem 0;
    display: block;
  }
  #reviews-864 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: none;
    width: 12.125rem;
    height: auto;
    display: block;
    position: absolute;
    z-index: -1;
  }
  #reviews-864 .cs-quote1 {
    top: 0;
    left: 0;
  }
  #reviews-864 .cs-quote2 {
    bottom: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-864 .cs-container {
    max-width: 80rem;
  }
  #reviews-864 .cs-item {
    grid-column: span 6;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 12;
  }
  #reviews-864 .cs-stars {
    margin-top: auto;
  }
  #reviews-864 .cs-quote1,
  #reviews-864 .cs-quote2 {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-864 .cs-item {
    grid-column: span 4;
  }
  #reviews-864 .cs-item:last-of-type {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-864 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #reviews-864 .cs-title,
  body.dark-mode #reviews-864 .cs-text,
  body.dark-mode #reviews-864 .cs-review,
  body.dark-mode #reviews-864 .cs-name,
  body.dark-mode #reviews-864 .cs-job,
  body.dark-mode #reviews-864 .cs-desc {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-864 .cs-text,
  body.dark-mode #reviews-864 .cs-desc {
    opacity: .8;
  }
  body.dark-mode #reviews-864 .cs-item {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #reviews-864 .cs-flex-group {
    border-color: var(--accent);
  }
  body.dark-mode #reviews-864 .cs-quote1,
  body.dark-mode #reviews-864 .cs-quote2 {
    opacity: .2;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-842 {
    padding: var(--sectionPadding);
    /* 30px - 50px */
    padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
    background-color: #1a1a1a;
    position: relative;
  }
  #cs-footer-842 .cs-wave {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 99%;
  }
  #cs-footer-842 .cs-container {
    width: 100%;
    /* reset on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
  }
  #cs-footer-842 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-842 .cs-logo {
    width: 13.125rem;
    height: auto;
    margin: 0 0 1.5rem 0;
    display: block;
  }
  #cs-footer-842 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-842 .cs-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.5rem 0;
    max-width: 25rem;
    color: #BABABA;
  }
  #cs-footer-842 .cs-social {
    display: inline-flex;
    justify-content: flex-start;
    gap: 0.75em;
  }
  #cs-footer-842 .cs-social-link {
    width: 2rem;
    height: 2rem;
    background-color: #484848;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, background-color 0.3s;
  }
  #cs-footer-842 .cs-social-link:hover {
    background-color: var(--primaryLight);
    transform: translateY(-0.1875rem);
  }
  #cs-footer-842 .cs-social-link:hover .cs-social-img {
    filter: grayscale(1) brightness(1000%);
  }
  #cs-footer-842 .cs-social-img {
    height: 0.75rem;
    width: auto;
    display: block;
  }
  #cs-footer-842 .cs-header {
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
  }
  #cs-footer-842 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-842 .cs-ul-1 {
    width: 100%;
    max-width: 21.875rem;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  #cs-footer-842 .cs-ul-1 .cs-li {
    width: 44%;
  }
  #cs-footer-842 .cs-li {
    list-style: none;
  }
  #cs-footer-842 .cs-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    text-align: left;
    color: #BABABA;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
    transition: color .3s;
  }
  #cs-footer-842 .cs-link:hover {
    color: var(--primaryLight);
  }
  #cs-footer-842 .cs-icon {
    width: 1.25rem;
    height: auto;
    margin-right: 0.125rem;
    display: block;
  }
  #cs-footer-842 .cs-bottom {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    /* 48px - 64px */
    margin: clamp(3rem, 7vw, 4rem) auto 0;
    padding-top: 1.5rem;
    border-top: 1px solid #484848;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
  }
  #cs-footer-842 .cs-credit,
  #cs-footer-842 .cs-bottom-link,
  #cs-footer-842 .cs-credit-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    color: #bababa;
    display: inline-block;
    position: relative;
    transition: color .3s;
  }
  #cs-footer-842 .cs-credit {
    width: 100%;
  }
  #cs-footer-842 .cs-credit-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    width: auto;
    margin: 0;
    color: #bababa;
    display: inline-block;
    position: relative;
  }
  #cs-footer-842 .cs-credit-link:hover {
    color: var(--primary);
  }
  #cs-footer-842 .cs-bottom-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-footer-842 .cs-bottom-link {
    display: flex;
    align-items: center;
  }
  #cs-footer-842 .cs-bottom-link:hover {
    color: var(--primary);
  }
  #cs-footer-842 .cs-bottom-link:last-of-type:before {
    /* seperator */
    content: '';
    width: 1px;
    height: 0.875rem;
    margin: 0 0.75rem;
    background: currentColor;
    opacity: 1;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-842 .cs-container {
    max-width: 80rem;
    /* 48px - 64px */
    row-gap: clamp(3rem, 7vw, 4rem);
  }
  #cs-footer-842 .cs-bottom {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #cs-footer-842 .cs-credit {
    text-align: left;
  }
  #cs-footer-842 .cs-bottom-links {
    justify-content: flex-end;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-842 .cs-container {
    /* pushes all flex children to the top */
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  #cs-footer-842 .cs-logo-group {
    width: 30%;
    max-width: 25rem;
    /* pushes everything to the right of it as far as possible in a flexbox */
    margin-right: auto;
  }
  #cs-footer-842 .cs-text {
    width: 100%;
  }
  #cs-footer-842 .cs-social {
    flex-direction: row;
    position: relative;
    top: auto;
    right: auto;
  }
}
