/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #hero-492 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        /* Centers button */
        text-align: left;
	    /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) (16/16rem);
        padding-bottom: (200/16rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #001F3F;
                opacity: .7;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            /* changes at tablet */
            gap: (48/16rem);
        }

        .cs-content {
            width: 100%;
            max-width: (630/16rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            letter-spacing: .1em;
            text-transform: uppercase;
            margin-bottom: (16/16rem);
            padding-left: (60/16rem);
            color: #fff;
            display: block;
            position: relative;

            &:before {
                content: '';
                /* make it really long so it always goes off screen */
                width: (1000/16rem);
                height: 2px;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%) translateX(35/16rem);
                right: 100%;
            }
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.40vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            max-width: (829/16rem);
            /* 16px - 24px */
            margin: 0 auto clamp(1rem, 4vw, 1.5rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: left;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 auto 0 0;
            margin-bottom: (36/16rem);
            color: #fff;
        }
    }
}
 
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-492 {
            .cs-background {
                &:before {
                    opacity: .92;
                }
            }
        }
    }
}
                                
                                
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #services-343 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.6vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (8/16rem);
            background-color: #fff;
            position: relative;
            z-index: 1;
            transition: box-shadow .3s, transform .3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-7/16rem);
                .cs-picture {
                    img {
                        opacity: .3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: '';
                width: 100%;
                height: 100%;
                border-radius: (8/16rem);
                border: 1px solid #E8E8E8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 16px - 24px */
            padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
            border-radius: (8/16rem) (8/16rem) 0 0;
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.2vw, 1.5rem);
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-343 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 48.9%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-343 {
        .cs-item {
            /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
            width: clamp(23.80%, 23vw, 23.95%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-343 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title, .cs-text, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--medium);
                &:before {
                    opacity: .3;
                }
            }
        }
    }
}
                                
                                
/*-- -------------------------- -->
<---          Timeline          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #timeline-504 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        /* clips the white line through the bullets */
        overflow: hidden;
    
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper, .cs-title {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            max-width: 18ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            max-width: (522/16rem);
            color: var(--bodyTextColorWhite);
            opacity: .8;
        }

        .cs-color {
            color: var(--secondary);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            /* changes at tablet */
            gap: (32/16rem);
            position: relative;
            &:before {
                /* white line through the bullets */
                content: '';
                width: 1px;
                background: #B4B2C7;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                /* send it way down to reach the bottom of the section, and have some overlap so if you add content and the ul gets longer, it will still be at the bottom */
                bottom: (-300/16rem);
                /* half the width of the bullet */
                left: (10/16rem);
            }
        }

        .cs-item {
            width: 100%;
            max-width: (400/16rem);
            list-style: none;
            padding: 0 0 0 (55/16rem);
            position: relative;
            &:before {
                /* bullet circle */
                content: '';
                width: (20/16rem);
                height: (20/16rem);
                background: var(--secondary);
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            /* changes to 100% at tablet */
            width: 80%;
            margin: 0;
            margin-bottom: (20/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #timeline-504 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
            margin: 0;
        }

        .cs-card-group {
            flex-direction: row;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);

            &:before {
                /* make wide enough to cover large screens */
                width: (4000/16rem);
                height: 1px;
                top: (10/16rem);
                /* these next two properties center the line in the UL */
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .cs-item {
            padding: 0;
            z-index: 1;

            &:hover {
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            &::before {
                /* 56px - 72px */
                margin-bottom: clamp(3.5rem, 7vw, 4.5rem);
                position: relative;
                top: auto;
                left: auto;
            }

            &:after {
                /* Hover bullet */
                content: '';
                width: (40/16rem);
                height: (40/16rem);
                background: var(--primary);
                border: 1px solid var(--secondary);
                border-radius: 50%;
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                display: block;
                top: (-10/16rem);
                left: (-10/16rem);
                z-index: -1;
                transform: scale(0);
                transition: width .3s, height .3s, transform .4s, opacity .3s;
            }
        }

        .cs-h3 {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #timeline-504 {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}
                                
   
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {

    #gallery-42 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: (16/16rem);
            max-width: (630/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-link {
            font-size: (15/16rem);
            font-weight: 700;
            text-decoration: none;
            line-height: 1.5em;
            width: (100/16rem);
            color: var(--headerColor);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 2px;
                width: 100%;
                background: currentColor;
                opacity: 1;
                bottom: (-3/16rem);
                left: 0;
            }
            &:hover {
                svg {
                    transform: translateX(7/16rem);
                }
            }

            svg {
                width: (24/16rem);
                height: (24/16rem);
                transition: transform .3s;
            }
        }

        .cs-image-group {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 31vw);
            /* 16px - 20px */
            gap: clamp(.5rem, 1.5vw, 1.25rem);
        }

        .cs-picture {
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-picture-1 {
            grid-column: ~"1 / span 6";
            grid-row: span 1;
        }

        .cs-picture-2 {
            grid-column: ~"7 / span 6";
            grid-row: span 1;
        }

        .cs-picture-3 {
            grid-column: ~"1 / span 12";
            grid-row: ~"2 / span 2";
        }

        .cs-picture-4 {
            grid-column: ~"1 / span 12";
            grid-row: ~"4 / span 2";
        }

        .cs-picture-5 {
            grid-column: ~"1 / span 6";
            grid-row: ~"6 / span 1";
        }

        .cs-picture-6 {
            grid-column: ~"7 / span 6";
            grid-row: ~"6 / span 1";
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #gallery-42 {
        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            gap: (48/16rem);
        }

        .cs-flex {
            min-width: 45%;
        }

        .cs-image-group {
            /* 116px - 210px */
            grid-template-rows: repeat(3, clamp(7.25rem, 16vw, 13.125rem));
        }

        .cs-picture-1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }

        .cs-picture-2 {
            grid-column: 4 / span 3;
            grid-row: 1 / span 1;
        }

        .cs-picture-3 {
            grid-column: 1 / span 6;
            grid-row: 2 / span 2;
        }

        .cs-picture-4 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 2;
        }

        .cs-picture-5 {
            grid-column: 7 / span 3;
            grid-row: 3 / span 1;
        }

        .cs-picture-6 {
            grid-column: 10 / span 3;
            grid-row: 3 / span 1;
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-42 {
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }
            
            .cs-link {
                color: var(--bodyTextColorWhite);

                &:before {
                    background: var(--bodyTextColorWhite);
                }

                svg {
                    path {
                        fill: var(--bodyTextColorWhite);
                    }
                }
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #sbs-521 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 60px */
            gap: clamp(3rem, 10vw, 3.75rem);
        }
    
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 80%;
            /* 32px - 36px */
            margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 24px - 32px */
            row-gap: clamp(1.5rem, 4vw, 2rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /* 40px - 48px */
            row-gap: clamp(2.5rem, 6vw, 3rem);
            /* sends it to the top in the first position */
            order: -1;
        }

        .cs-stat-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-stat {
            list-style: none;
            max-width: (230/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-number {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: clamp(.875rem, 1rem, 1.25rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            /* 244px - 339px, changes clamp at tablet */
            height: clamp(14rem, 62vw, 21.1875rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-521 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-content {
            width: 71%;
            max-width: (540/16rem);
        }

        .cs-image-group {
            width: 68%;
        }

        .cs-stat-group {
            justify-content: flex-start;
        }

        .cs-picture {
            /* 340px - 461px */
            height: clamp(21.25rem, 35vw, 28.8125rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-521 {
            .cs-title, .cs-text, .cs-li, .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-number, .cs-topper {
                color: var(--secondary);
            }

            .cs-button-solid {
                background-color: var(--secondary);
                color: #1a1a1a;
                
                &:before {
                    background-color: #fff;
                }
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #meet-team-702 {
        padding: var(--sectionPadding);
        overflow: hidden;
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (650/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                cursor: pointer;
                .cs-picture {
                    &:before, &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            /* removed at tablet */
            aspect-ratio: (328/407);
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            &:before {
                /* defualt gradient */
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(359.46deg, rgba(26, 26, 26, 0.85) 12.04%, rgba(26, 26, 26, 0) 63.74%);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                transition: opacity .3s;
            }

            &:after {
                /* on hover gradient, we do it this way so the gradients can animate between dark and gree */
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(359.46deg, #5A766A 12.04%, rgba(90, 118, 106, 0) 63.74%);
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                transition: opacity .3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform .7s;
            }
        }

        .cs-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            bottom: (24/16rem);
            left: 0;
            z-index: 10;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: #F6E5DB;
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: #f7f7f7;
            display: block;
        }
    }

}

/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #meet-team-702 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-item {
            width: 48.3%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-702 {
        .cs-card-group {
            justify-content: center;
        }

        .cs-item {
            width: 22.7vw;
            max-width: (305/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-702 {
            .cs-topper, .cs-color {
                color: var(--primaryLight);
            }
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #reviews-566 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* 32px - 60px top & bottom */
            /* 16px - 48px left & right */
            padding: clamp(2rem, 6.15vw, 3.75rem) clamp(1rem, 4.15vw, 3rem);
            background-color: #F1F1F4;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
        }

        .cs-stars {
            /* 169px - 189px */
            width: clamp(10.5625rem, 20vw, 11.8125rem);
            height: auto;
            /* 20px - 24px */
            margin-bottom: clamp(1.25rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            /* 40px - 64px */
            margin-bottom: clamp(2.5rem, 8vw, 4rem);
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-profile {
            width: (80/16rem);
            height: (80/16rem);
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.6vw, 1rem);
            line-height: 1.2em;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .01em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #reviews-566 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-566 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title, .cs-text, .cs-item-text, .cs-name, .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }

            .cs-item {
                background-color: var(--accent);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #cta-697 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            /* 25 characters wide including spaces */
            max-width: 25ch;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
                                

/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #cs-footer-108 {
        /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
        font-family: 'Roboto', 'Arial', sans-serif;
        /* 40px - 100px top and bottom */
        padding: clamp(2.5rem, 7.9vw, 6.25rem) (16/16rem);
        /* 40px - 50px */
        padding-bottom: clamp(2.5rem, 7.9vw, 3.125rem);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
        }

        .cs-ul {
            /* 40px - 60px*/
            padding: 0 0 clamp(2.5rem, 4.7vw, 3.75rem);
            margin: auto;
            border-bottom: 1px solid #EFF0F6;
        }

        .cs-li {
            list-style: none;
            text-align: center;
            margin-bottom: (20/16rem);
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.55vw, 1.25rem);
            line-height: 1.5em;
            text-decoration: none;
            font-weight: 700 ;
            color: var(--bodyTextColor);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* top right box */
                content: '';
                width: 0%;
                height: (3/16rem);
                background: var(--bodyTextColor);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width .3s;
            }
        }

        .cs-copyright {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.6vw, 1rem);
            text-align: center;
            color: #A0A3BD;
            display: block;
            /* 20px - 28px */
            margin: clamp(1.25rem, 2.8vw, 1.75rem) auto 0;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #cs-footer-108 {
        .cs-ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-li {
            /* 44px - 88px */
            margin: 0 clamp(2.75rem, 6.2vw, 5.5rem) 0 0;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-footer-108 {
            background-color: rgba(0, 0, 0, .2);
            .cs-link {
                color: #fff;
                &:before {
                    background: #fff;
                }
            }
        }
    }
}
                                
                                
                                
                                
                                
                                
                                
                                